# config.py

# The host and port where qbittorrent is running.
# For example, if it's running locally on port 8080, you can use "localhost:8080".
host = "localhost:8080"

# The username for logging into qbittorrent's web UI.
username = "admin"

# The password for logging into qbittorrent's web UI.
password = "adminadmin"

# A flag for dry run mode. If set to True, the script will print what it would do
# but won't actually execute actions like adding tags. Set to False to actually execute actions.
dry_run = True

# The tag to be used for torrents that have issues other than being unregistered.
# You can change this value to any tag you want.
other_issues_tag = "custom_tag"

delete_tags = ["unregistered", "unregistered:crossseeding"]
delete_files = {
    "unregistered": True,
    "unregistered:crossseeding": False,
}

# A list of messages or patterns to match for unregistered torrents.
# Each entry in this list can be a full message (e.g. 'This torrent does not exist')
# or a pattern to match messages that start with specific text (e.g. 'starts_with:Trump').
unregistered = [
    'This torrent does not exist',
    'Unregistered torrent',
    '002: Invalid InfoHash, Torrent not found',
    'Torrent is not authorized for use on this tracker',
    'Torrent is not authorized for use on this tracker or Torrent Deleted',
    'Torrent not found',
    'Torrent not registered with this tracker.',
    'Unregistered torrent',
    'unregistered torrent',
    'unregistered',
    'starts_with:Trump'
]
