# config.py
host = "localhost:8080"
username = "admin"
password = "adminadmin"
unregistered = [
    'This torrent does not exist',
    '002: Invalid InfoHash, Torrent not found',
    'starts_with:Torrent is not authorized',
    'starts_with:Torrent not',
    'starts_with:unregistered',
    'starts_with:Trump',
    'starts_with:Complete Season Uploaded',
    'starts_with:Nuked',
    'starts_with:Torrent is not found',
    'starts_with:Specifically Banned'
]
