{
  "//": "The host and port where qbittorrent is running.",
  "host": "localhost:8080",

  "//": "The username for logging into qbittorrent's web UI.",
  "username": "admin",

  "//": "The password for logging into qbittorrent's web UI.",
  "password": "password",

  "//": "A flag for dry run mode. If set to true, the script will print what it would do but won't actually execute actions like adding tags or deleting torrents/files. Set to false to actually execute actions.",
  "dry_run": true,

  "//": "The tag to be used for torrents that have issues other than being unregistered.",
  "other_issues_tag": "issue",

  "//": "Flag for using delete_tags in the script.",
  "use_delete_tags": false,

  "//": "Flag for using delete_files in the script.",
  "use_delete_files": false,

  "//": "A list of tags that should trigger the deletion of torrents and/or files (files are only removed if delete_files is set).",
  "delete_tags": ["unregistered", "unregistered:crossseeding"],

  "//": "A dictionary specifying whether to delete files for each tag. The keys represent the tags, and the values represent whether to delete files (true) or not (false) for each tag.",
  "delete_files": {
    "unregistered": false,
    "unregistered:crossseeding": false
  },

  "//": "A list of messages or patterns to match for unregistered torrents. Each entry in this list can be a full message (e.g., 'This torrent does not exist') or a pattern to match messages that start with specific text (e.g., 'starts_with:Trump').",
  "unregistered": [
    "This torrent does not exist",
    "Unregistered torrent",
    "002: Invalid InfoHash, Torrent not found",
    "Torrent is not authorized for use on this tracker",
    "Torrent is not authorized for use on this tracker or Torrent Deleted",
    "Torrent not found",
    "Torrent not registered with this tracker.",
    "Unregistered torrent",
    "unregistered torrent",
    "unregistered",
    "starts_with:Trump"
  ],

  "//": "Mapping of terms or patterns associated with trackers and the corresponding tags.",
  "tracker_tags": {
    "aither": "AITHER",
    "blutopia": "BLU",
    "beyond-hd": "BHD"
  }  
}
